.box-container {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 600px; /* Adjust the width as needed */
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

p {
  text-align: left;
}

.adopter-image {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  border: 2px solid #C05E4B;
}

button {
  background-color: #C05E4B;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

input, textarea {
  width: 100%;
}

.header-img{
  display:flex;
    justify-content:center;
    align-items: center;
}
