<h2>List of Dogs</h2>
<div class="dog-containers">
  <div class="dog-box" *ngFor="let dog of dogs">
    <img [src]="'assets/dog-displayimages/' + dog.displayImage" alt="{{ dog.name }}" class="dog-image dog-image-container">
    <div class="dog-info">
      <h3>{{ dog.name }}</h3>
      <p>Gender: {{ dog.gender }}</p>
      <p>Breed: {{ dog.breed }}</p>
      <p>Age: {{ dog.age }} months</p>
      <p>Adoption Status: {{ dog.adoptionStatus }}</p>
      <button *ngIf="dog.adoptionStatus === 'Open'" (click)="navigateToDogDetails(dog)">Check Details</button>
    </div>
  </div>
</div>
