<div class="centered">
  <img src="assets/icons/showDogs.png" style="width: 500px">
</div>

<div class="dog-containers">
  <div class="dog-box" *ngFor="let dog of dogs">
    <div class="dog-image-container">
      <img [src]="'assets/dog-displayimages/' + dog.displayImage" alt="{{ dog.name }}" class="dog-image">
    </div>
    <div class="dog-details">
      <h3>{{ dog.name }}</h3>
      <div class="dog-info">
        <p class="dog-detail" [ngClass]="{'reserved': dog.adoptionStatus === 'Reserved'}" 
          (click)="dog.adoptionStatus === 'Open' ? navigateToDogDetails(dog) : null" style="margin-top: 10px;">
          {{ dog.adoptionStatus === 'Reserved' ? 'Reserved' : (dog.adoptionStatus === 'Adopted' ? 'ADOPTED' : 'Check Details') }}
        </p>

      </div>
    </div>
  </div>
</div>
