<div class="dog-details">
  <h1><strong>Dog Details          </strong> <button routerLink="/show-dogs">Back</button></h1>
  <div class="dog-info">
    <h3>{{ selectedDog.name }}</h3>
    <div class="pics">
      <img [src]="'assets/dog-displayimages/' + selectedDog.displayImage" alt="{{ selectedDog.name }}" class="dog-image">
    </div>
    <div class="other">
      <p><strong>Gender:</strong> {{ selectedDog.gender }}</p>
      <p><strong>Breed:</strong> {{ selectedDog.breed }}</p>
      <p><strong>Birth Date:</strong> {{ selectedDog.birthDate | date:'shortDate' }}</p>
      <p><strong>Age:</strong> {{ selectedDog.age }} months</p>
      <p><strong>Adoption Status:</strong> {{ selectedDog.adoptionStatus }}</p>
      <p><strong>Color:</strong> {{ selectedDog.color }}</p>
      <p><strong>Size:</strong> {{ selectedDog.size }}</p>
      
    </div>
    <p class="description"><strong>Description:</strong> {{ selectedDog.description }}</p>
    <button (click)="adoptDog(selectedDog)">Submit Application</button>
  </div>
</div>
