img.dog-image {
  width: 100%;
  height: auto;
  border: 2px solid #C05E4B;
  border-radius: 10px;
}

.dog-details {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  margin-bottom: 50px;
}

.dog-details h1 {
  font-family: Verdana;
  font-size: 32px;
  color: #C05E4B;
  text-align: left;
  padding-left: 20px;
  margin-top: 0;
  margin-left: -10px;
}

.dog-info {
  padding: 10px;
  font-family: 'Arial', sans-serif; 
  text-align: left;
  background-color: rgb(226, 206, 180);
  border-radius: 10px;
}

.pics {
  float: right;
  text-align: right;
  width: 50%;
}

.other {
  width: 60%;
}

h3 {
  margin: 10px 0;
  font-size: 24px;
  color: #C05E4B;
}

.dog-info p {
  font-size: 18px;
  margin: 5px 0;
  font-family: 'Arial', sans-serif; 
}

.dog-info .description {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  font-family: 'Arial', sans-serif; 
}

.dog-info button {
  background-color: #C05E4B;
  color: white;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

button {
  background-color: #C05E4B;
  color: white;
  padding: 5px;
  width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

p {
  margin: 5px 0;
}

h3 {
  margin: 10px 0;
}
