<div class="header-img">
  <img src="assets/icons/MANAGE DOGS.png" style = "margin:15px;height:30px;">
</div>

<div class="centered">
  
  <div class="search-bar">
    <input type="text" placeholder="Search by" [(ngModel)]="searchQuery" class="rounded-input" />
    <label>
      <input type="radio" [(ngModel)]="filterType" [value]="'name'" />
      Name
    </label>
    <label>
      <input type="radio" [(ngModel)]="filterType" [value]="'gender'" />
      Gender
    </label>
    <label>
      <input type="radio" [(ngModel)]="filterType" [value]="'status'" />
      Status
    </label>
    <button (click)="applyFilter()" class="search-button">Search</button>
    <button (click)="navigateToAddDog()" class="add-button">Add Dog</button>
  </div>
</div>

<div class="table-container">
  <table class="dog-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Breed</th>
        <th>Age</th>
        <th>Adoption Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dog of dogs" (click)="navigateToDogDetails(dog)">
        <td>{{ dog.name }}</td>
        <td>{{ dog.gender }}</td>
        <td>{{ dog.breed }}</td>
        <td>{{ dog.age }} months</td>
        <td>{{ dog.adoptionStatus }}</td>
      </tr>
    </tbody>
  </table>
</div>


