
<body>
    <ul class="navbar">
        <li class="nav-item logo-item">
            <img [src]="'assets/icons/logo.png'" alt="Logo" width="200">
        </li>
        <li class="nav-item">
            <a class="nav-link button" routerLink="/home-page" routerLinkActive="active">WELCOME</a>
        </li>

        <li class="nav-item">
            <a class="nav-link button" routerLink="/about-page">ABOUT</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link button" routerLink="/support-page">SUPPORT</a>
        </li>
        
        <li class="nav-item" *ngIf="isAdminLoggedIn">
            <a class="nav-link button" routerLink="/manage-dogs" routerLinkActive="active">MANAGE DOGS</a>
        </li>

        <li class="nav-item" *ngIf="isAdminLoggedIn">
            <a class="nav-link button" routerLink="/manage-adopters" routerLinkActive="active">MANAGE USERS</a>
        </li>

        <li class="nav-item" *ngIf="isAdminLoggedIn">
            <a class="nav-link button" routerLink="/manage-applications" routerLinkActive="active">MANAGE APPLICATIONS</a>
        </li>
        
        <li class="nav-item" *ngIf="isUserLoggedIn">
            <a class="nav-link button" routerLink="/show-dogs" routerLinkActive="active">APPLY ADOPTION</a>
        </li>

        <li class="nav-item" *ngIf="isUserLoggedIn">
            <a class="nav-link button" routerLink="/show-applications" routerLinkActive="active">VIEW APPLICATIONS</a>
        </li>

        <li class="nav-item" *ngIf="isUserLoggedIn">
            <a class="nav-link button" routerLink="/manage-profile" routerLinkActive="active">MANAGE PROFILE</a>
        </li>
        
        <li class="nav-item" *ngIf="!isConnected">
            <a class="nav-link logout-button" routerLink="/login" routerLinkActive="active">CONNECT</a>
        </li>
        
        <li class="nav-item" *ngIf="isConnected">
            <a class="nav-link logout-button" routerLink="/home-page" routerLinkActive="active" (click)="onLogOut()">SIGN OUT</a>
        </li>
    </ul>
</body>