body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; 
}

.logo-item {
    margin-right: auto; 
    margin-top: -5px;
}

li.nav-item {
    display: inline;
    margin-right: 15px;
}


a.nav-link {
    text-decoration: none;
    font-size: large;
}

.button {
    color:black;
}

.logout-button {
    background-color: #C05E4B; 
    border: 1px solid #C05E4B; 
    border-radius: 20px; 
    padding: 5px 15px;
    color: #FFFFFF; 
    text-decoration: none;
    margin-left: auto;
}
