<form (ngSubmit)="onRegisterSubmit" class="login-container">
  <div class="form-container">
    <div class="header-container">
      <img src="assets/icons/Group 2.png" alt="Dog Owner Image" style="margin: -4px; height: 60px">
    </div>
    <div class="left-align">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName" [(ngModel)]="adopter.firstName" required>
    </div>
    <div class="left-align">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" name="lastName" [(ngModel)]="adopter.lastName" required>
    </div>
    <div class="left-align">
      <label for="displayImage" style = "margin-top: 10px;">Display Image:</label>
      <input type="file" id="displayImage" name="displayImage" (change)="onFileSelected($event)" accept="image/*">
    </div>
    <div class="left-align" >
      <label for="email" style = "margin-top: 10px;">Email:</label>
      <input type="text" id="email" name="email" [(ngModel)]="adopter.email" required>
    </div>
    <div class="left-align">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="adopter.password" required>
    </div>
    <div class="left-align">
      <label for="phoneNumber">Phone Number:</label>
      <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="adopter.phoneNumber" required>
    </div>
    <div class="left-align">
      <label for="homeAddress">Home Address:</label>
      <input type="text" id="homeAddress" name="homeAddress" [(ngModel)]="adopter.homeAddress" required>
    </div>
    <div class="center-align">
      <button type="submit">Register</button>
      <button type="button" [routerLink]="['/login']">Back</button>
    </div>
  </div>
</form>
