<div class="header-img">
  <img src="assets/icons/MANAGE APPLICATIONS.png" style="margin: 15px; height: 30px;">
</div>

<div class="centered">

  <div class="table-container">
    <table class="dog-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Submitted Date</th>
          <th>Review Date</th>
          <th>Approval Date</th>
          <th>Applicant Name</th>
          <th>Dog Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of applications" [routerLink]="['/manage-application-details', application.id]">
          <td>{{ application.id }}</td>
          <td>{{ application.status }}</td>
          <td>{{ application.submittedDate | date:'short' }}</td>
          <td>{{ application.reviewDate | date:'short' }}</td>
          <td>{{ application.approvalDate | date:'short' }}</td>
          <td>{{ application.applicant.fullName }}</td>
          <td>{{ application.dog.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
