.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: transparent;
    background-image: url('/assets/icons/dog-family-png-11.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    margin-top: -30px;
  }
  
  .form-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
  }
  
  h2 {
    color: #C05E4B;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  label {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"], textarea{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #C05E4B;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  button {
    background-color: #C05E4B;
    color: white;
    padding: 10px;
    margin: 5px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: #C05E4B;
    font-family: 'Arial', sans-serif;
  }
  
  .login-container *ngIf {
    font-family: 'Arial', sans-serif;
    color: #C05E4B;
    font-size: 18px;
  }

  .header-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.header-container img {
    margin-right: 10px; 
}
  
  