.details-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.box-container {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
  margin: 20px;
  width: 30%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.application-info p,
.dog-info p,
.adopter-info p {
  text-align: left;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.action-button {
  background-color: #C05E4B;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}

.app-container{
  height: max-content;
  width: 500px;
  padding:20px;
}


.header-img{
  display:flex;
    justify-content:center;
    align-items: center;
}