<div class="header-img">
  <img src="assets/icons/MANAGE APPLICATION DETAILS.png" style = "margin:15px;height:30px;">
</div>

<div class="details-container">
  <div class="adopter-details box-container">
    <p style="text-align: center;">
      <img [src]="'assets/user-displayimages/' + applicant.displayImage" alt="{{ applicant.fullName }}" class="adopter-image"
        style="height: 200px; width: 60%; border-radius: 20px;">
    </p>
    <div class="adopter-info">
      <h2>Adopter Details</h2>
      <p>
        <strong>Name:</strong> {{applicant.fullName}}
      </p>
      <p>
        <strong>Email Address:</strong> {{applicant.email}}
      </p>
      <p>
        <strong>Phone Number:</strong> {{applicant.phoneNumber}}
      </p>
      <p>
        <strong>Home Address:</strong> {{applicant.homeAddress}}
      </p>
      <p>
        <strong>Date Registered:</strong> {{applicant.registeredDate}}
      </p>
    </div>
  </div>

  <div class="dog-details box-container">
    <p style="text-align: center;">
      <img [src]="'assets/dog-displayimages/' + dog.displayImage" alt="{{ dog.name }}" class="dog-image"
        style="height: 200px; width: 90%; border-radius: 20px;">
    </p>
    <div class="dog-info">
      <h2>Dog Details</h2>
      <p>
        <strong>Name:</strong> {{dog.name}}
      </p>
      <p>
        <strong>Gender:</strong> {{dog.gender}}
      </p>
      <p>
        <strong>Breed:</strong> {{dog.breed}}
      </p>
      <p>
        <strong>Age:</strong> {{dog.age}} months
      </p>
      <p>
        <strong>Adoption Status:</strong> {{dog.adoptionStatus}}
      </p>
      <p>
        <strong>Birth Date:</strong> {{dog.birthDate}}
      </p>
      <p>
        <strong>Color:</strong> {{dog.color}}
      </p>
      <p>
        <strong>Size:</strong> {{dog.size}}
      </p>
      <p>
        <strong>Description:</strong> {{dog.description}}
      </p>
    </div>
  </div>

  <div class="application-details box-container app-container">
    <h2 style="margin-top: -5px; margin-bottom: 20px;">Application Details</h2>
    <div class="application-info">
      <p>
        <b>Status:</b>
        <select [(ngModel)]="selectedApplication.status" [disabled]="!editMode" style="width: 200px;">
          <option *ngFor="let option of statusOptions" [ngValue]="option">{{ option }}</option>
        </select><br>
        <span class="error-message" *ngIf="getStatusWarning()" style="color:red;">{{ getStatusWarning() }}</span>
      </p>
      <p>
        <b>Date Submitted:</b>
        <input type="datetime-local" [(ngModel)]="selectedApplication.submittedDate" [disabled]="!editMode" style="width: 100%;">
      </p>
      <p>
        <b>Date Reviewed:</b>
        <input type="datetime-local" [(ngModel)]="selectedApplication.reviewDate" [disabled]="!editMode" style="width: 100%;">
      </p>
      <p>
        <b>Date Approved:</b>
        <input type="datetime-local" [(ngModel)]="selectedApplication.approvalDate" [disabled]="!editMode" style="width: 100%;">
      </p>
      <div class="button-container">
        <button *ngIf="editMode" (click)="saveChanges()" class="action-button">Save Changes</button>
        <button (click)="toggleEditMode()" class="action-button">{{ editMode ? 'Cancel' : 'Edit' }}</button>
        <button (click)="deleteRecord()" class="action-button">Delete</button>
        <button routerLink="/manage-applications" class="action-button">Back</button>
      </div>
    </div>
  </div>
</div>
