<div class="header-img">
  <img src="assets/icons/MANAGE ADOPTERS.png" style = "margin:15px;height:30px;">
</div>
<div class="centered">

  <div class="search-bar">
    <input type="text" placeholder="Search by" [(ngModel)]="searchQuery" class="rounded-input"/>
    <label>
      <input type="radio" [(ngModel)]="filterType" [value]="'fullName'" />
      Name
    </label>
    <label>
      <input type="radio" [(ngModel)]="filterType" [value]="'email'" />
      Email
    </label>
    <label>
      <input type="radio" [(ngModel)]="filterType" [value]="'phoneNumber'" />
      Phone Number
    </label>
    <button (click)="applyFilter()" class="search-button">Search</button>  <button (click)="navigateToAddAdopter()" class="add-button">Add Adopter</button>
  </div>
</div>


<div class="table-container">
  <table class="dog-table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let adopter of adopters" (click)="navigateToAdopterDetails(adopter)">
      <td>{{ adopter.fullName }}</td>
      <td>{{ adopter.email }}</td>
      <td>{{ adopter.phoneNumber }}</td>
    </tr>
  </tbody>
  </table>
</div>
  