<h2>Dog Details</h2>
<div class="dog-details">
  <img [src]="'assets/dog-displayimages/' + selectedDog.displayImage" alt="{{ selectedDog.name }}" class="dog-image">
  <div class="dog-info">
    <h3>{{ selectedDog.name }}</h3>
    <p>Gender: {{ selectedDog.gender }}</p>
    <p>Breed: {{ selectedDog.breed }}</p>
    <p>Age: {{ selectedDog.age }} months</p>
    <p>Adoption Status: {{ selectedDog.adoptionStatus }}</p>
    <p>Birth Date: {{ selectedDog.birthDate | date:'shortDate' }}</p>
    <p>Color: {{ selectedDog.color }}</p>
    <p>Size: {{ selectedDog.size }}</p>
    <p>Description: {{ selectedDog.description }}</p>
    
  </div>
</div>

<button routerLink="/show-applications">Back</button>
