<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<footer class="app-footer">
    <div class="footer-column">
      <h3>QUICKLINKS</h3>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/support">Support</a></li>
      </ul>
    </div>
  
    <div class="footer-column">
      <h3>DEVELOPERS</h3>
      <ul>
        <li>Azzouni, Abdulrahman</li>
        <li>Nitta, Kennichi</li>
        <li>Rivadenera, Johann Zeke</li>
        <li>Resurreccion, Justin Carl</li>
        <li>Pineda, Andrea May</li>
      </ul>
    </div>
  
    <div class="footer-column">
      <h3>CONTACT US</h3>
      <p><a href="mailto:email@example.com">midrealm@mymail.mapua.edu.ph</a></p>
      <p><a>+63 999 999 9908</a></p>
    </div>
  
    <div class="footer-column">
      <h3>SOCIAL MEDIA</h3>
      <ul class="social-media-icons">
        <a href="https://www.facebook.com/yourpage" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/yourhandle" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.youtube.com/user/yourchannel" target="_blank"><i class="fab fa-youtube"></i></a>
      </ul>
    </div>
  </footer>

  
  